.toggleContainer {
  display: flex;
  align-items: center;
  align-content: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #8c8c8c;
}

.toggle {
  margin-left: 8px;
  width: 48px;
  height: 24px;
  border-radius: 40px;
  cursor: pointer;
}

.toggleIndicator {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: 3px;
}

.toggleOn {
  background: rgba(26, 38, 51, 0.3);
  border: 1px solid #1a2633;
  transition: background-color 0.2s;
}

.toggleOn .toggleIndicator {
  margin-left: 28px;
  background-color: #4da6ff;
  transition: background-color 0.2s, margin-left 0.2s ease-in-out;
}

.toggleOff {
  border: 1px solid #333333;
  border-radius: 40px;
  transition: background-color 0.2s;
}

.toggleOff .toggleIndicator {
  margin-left: 4px;
  background-color: #666666;
  transition: flex 0.2s ease-in-out;
  transition: background-color 0.2s, margin-left 0.2s ease-in-out;
}

.toggleOnNavBar {
  background: #0f2614;
  border: 1px solid #1cb33e;
  transition: background-color 0.2s;
}

.toggleOnNavBar .toggleIndicator {
  margin-left: 28px;
  background-color: #1cb33e;
  transition: background-color 0.2s, margin-left 0.2s ease-in-out;
}

.toggleOffNavBar {
  border: 1px solid #ff1732;
  border-radius: 40px;
  transition: background-color 0.2s;
  background-color: #331c1f;
}

.toggleOffNavBar .toggleIndicator {
  margin-left: 4px;
  background-color: #ff1732;
  transition: flex 0.2s ease-in-out;
  transition: background-color 0.2s, margin-left 0.2s ease-in-out;
}
