.incrementArrows {
  cursor: pointer;
}

.incrementArrows > img {
  margin-top: 16px;
  transform: scale(1.25, 1.25);
}

.downArrow {
  padding-left: 6px;
}

.upArrow {
  padding-right: 6px;
}

.upArrow > img {
  float: right;
}
