.label {
  font-family: -apple-system, -BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  height: 24px;
  width: 32px;
  padding: 0px 4px;
  background-color: #262626;
  color: #8C8C8C;
  border-radius: 4px;
  line-height: 16px;
  border-color: #262626;
  border-width: 0px;
  cursor: pointer;
  display: inline-block;
}
